{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css_files/aboutus.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Oswald:wght@200;300;400;500&family=Rubik+Moonrocks&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h2 style="margin-bottom: 60px;"> <u>OUR TEAM</u></h2>
        </div>
        <div class="info">
            <div class="personinfo first">
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.x_twEApp1o9SSLZQhGlGMQHaKe?pid=ImgDet&rs=1"
                        class="personimage" style="height: 300px; width: 300px;" alt="">
                </div>
                <div class="details">
                    <h1 style="margin-top: 40px;">SHUBHAM</h1>
                    <p>hello i am a second year student in nsut , i m a full stack web developer,i am a 4 star coder at
                        codechef and have also taken parts in many coding competetions.</p>
                </div>
            </div>
            <hr style="height:1px;border-width:0;color:gray;background-color:gray">
            <br>
            <div class="personinfo second">
                <div class="details">
                    <h1 style="margin-top: 40px;">Deepu Yadav</h1>
                    <p>hwllo i am a second year student in nsut , i m a full stack web developer. I have keen interest
                        in new technologies and I love to make new things using different technologies.</p>
                </div>
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.URM1bOqnIGCQoVdRb8opawHaLG?pid=ImgDet&rs=1"
                        class="personimage" style="height: 300px; width: 300px;" alt="">
                </div>
            </div>
            <hr style="height:1px;border-width:0;color:gray;background-color:gray">
            <br>

            <div class="personinfo third">
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.WSxlv93s0-4H1FVid7fwxQHaE8?pid=ImgDet&rs=1"
                        class="personimage" style="height: 300px; width: 300px;" alt="">
                </div>
                <div class="details">
                    <h1 style="margin-top: 40px;">Ujjwal Kumar</h1>
                    <p>hwllo i am a second year student in nsut , i m a full stack web developer. I am preety good in
                        coding and development. I have won many coding competetions.</p>
                </div>
            </div>
            <hr style="height:1px;border-width:0;color:gray;background-color:gray">
            <br>

            <div class="personinfo fourth">
                <div class="details">
                    <h1 style="margin-top: 40px;">Arjun Kulkarni</h1>
                    <p>hwllo i am a second year student in nsut , i m a full stack web developer. I am a excellent
                        developer. I can code in many programming languages and I can learn any new technology preety
                        fast and I can implement it.</p>
                </div>
                <div class="image">
                    <img src="https://thumbs.dreamstime.com/b/frustrated-manager-doing-paperwork-office-tired-young-crisis-79916659.jpg"
                        class="personimage" style="height: 300px; width: 300px;" alt="">
                </div>
            </div>

            <div class="personinfo third">
                <div class="image">
                    <img src="https://th.bing.com/th/id/OIP.WSxlv93s0-4H1FVid7fwxQHaE8?pid=ImgDet&rs=1"
                        class="personimage" style="height: 300px; width: 300px;" alt="">
                </div>
                <div class="details">
                    <h1 style="margin-top: 40px;">Ashish</h1>
                    <p>hwllo i am a second year student in nsut , i m a full stack web developer. I always get highest
                        marks in my class and I have deep interest in blockchain.</p>
                </div>
            </div>
            <hr style="height:1px;border-width:0;color:gray;background-color:gray">
            <br>

            <div class="personinfo fourth">
                <div class="details">
                    <h1 style="margin-top: 40px;">Abhijeet Sourabh</h1>
                    <p>hwllo i am a second year student in nsut , i m a full stack web developer. I am a good developer
                        and coder. I have developed many sites and apps using new technologies.</p>
                </div>
                <div class="image">
                    <img src="https://thumbs.dreamstime.com/b/frustrated-manager-doing-paperwork-office-tired-young-crisis-79916659.jpg"
                        class="personimage" style="height: 300px; width: 300px;" alt="">
                </div>
            </div>

            <hr>

        </div>
    </div>
</body>

</html>